body {
    color: rgba(0,255,0,1);
    background-color: rgba(0,0,0,1);
}

p {
    margin-bottom: 20px;
}

div#status {
    display: none;
    margin: 20px auto 10px auto;
    width: 30%;
}

div.entry {
    position: relative;
    width: 75%;
    background-color: rgba(0,255,0,0.2);
    margin: 5px;
    padding-bottom: 0.5em;
}

div.subentry {
    position: relative;
    width: 90%;
    margin: 10px;
    background-color: rgba(0,255,0,0.1);
    padding-bottom: 0.5em;
}

label {
    display: block;
    text-align: left;
}

label::after {
    content: ':';
}

input[type="text"] {
    display: block;
    margin: 3px 5px 5px 5px;
    padding: 5px;
    width: 90%;
    color: rgba(0,255,0,1);
    background-color: rgba(0,0,0,1);
    border: 1px solid rgba(0,255,0,1);
}

div.subentry input[type="text"] {
    width: 95%;
}

div#actionButtons {
    margin-top: 30px;
    padding: 5px;
}

button {
    border: 1px solid rgba(0,255,0,1);
    color: rgba(0,255,0,1);
    background-color: rgba(0,0,0,1);
}

button.add {
    display: block;
    margin: 1em;
}

button.delete {
    position: absolute;
    right: 1px;
    top: 1px;
    border: none;
    background-color: rgba(0,0,0,0);
    z-index: 2;
    margin: 0;
    padding: 0;
}

button.delete::before {
    content: '[';
    font-size: 1.1em;
}

button.delete::after {
    content: ']';
    font-size: 1.1em;
}