body {
    color: rgba(0,255,0,1);
    background-color: rgba(0,0,0,1);
    font-size: 12px;
    width: 800px;
}

h1 {
    border: 0.2em dotted rgba(0,255,0,1);
    padding: 0.5em;
    width: 75%;
}

h3 {
    margin-top: 4em;
    font-variant: all-small-caps;
    font-size: 1.6em;
}

div#status, div#loading {
    display: none;
    margin: 0 auto 0 auto;
    width: 30%;
}

div#status > h3, div#loading > h3 {
    margin-top: 0.5em;
    margin-bottom: -2em;
    font-variant: all-small-caps;
    color: hotpink;
}

div.entry {
    position: relative;
    width: 75%;
    background-color: rgba(0,255,0,0.2);
    margin: 1.5em 0.5em 1.5em 0.5em;
    padding: 0.5em 1em 1em 1em;
}

div.subentry {
    position: relative;
    width: 90%;
    margin: 10px;
    background-color: rgba(0,255,0,0.1);
    padding-bottom: 0.5em;
}

label {
    display: block;
    text-align: left;
    margin-top: 1em;
}

label::after {
    content: ':';
}

input[type="text"] {
    display: block;
    margin: 0.25em 0.5em 0.5em 0.5em;
    padding: 5px;
    width: 90%;
    color: rgba(0,255,0,1);
    background-color: rgba(0,0,0,1);
    border: 1px solid rgba(0,255,0,1);
}

div.subentry input[type="text"] {
    width: 95%;
}

div#actionButtons {
    margin-top: 4em;
    padding: 1em;
}

div#actionButtons > button {
    font-size: 20px;
}

button {
    border: 1px solid rgba(0,255,0,1);
    color: rgba(0,255,0,1);
    background-color: rgba(0,0,0,1);
}

button.addEntry {
    display: block;
    margin: 1em;
}

button.addSubentry {
    border: 1px dashed rgba(0,255,0,1);
    margin: 0.5em 1em 0.5em 1em;
    background-color: rgba(0,0,0,0);
}

button.delete {
    position: absolute;
    right: 1px;
    top: 1px;
    border: none;
    background-color: rgba(0,0,0,0);
    z-index: 2;
    margin: 0;
    padding: 0;
}

button.delete::before {
    content: '[';
    font-size: 1.1em;
}

button.delete::after {
    content: ']';
    font-size: 1.1em;
}
