body {
    color: rgba(0,255,0,1);
    background-color: rgba(0,0,0,1);
}

p {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    text-align: left;
}

textarea {
    width: 600px;
    height: 500px;
}

div#status {
    display: none;
    margin: 20px auto 10px auto;
    width: 30%;
}

button#set {
    border: 1px solid rgba(0,255,0,1);
    color: rgba(0,255,0,1);
    background-color: rgba(0,0,0,1);
}