body {
    color: rgba(0,255,0,1);
    background-color: rgba(0,0,0,1);
    font-family: monospace;
    font-size: 12px;
    height: 300px;
    width: 700px;
}

h1 {
    font-size: 16px;
}

p {
    text-indent: 5px;
}

input,checkbox,textarea,button {
    background-color: rgba(0,0,0,1);
    color: rgba(0,255,0,1);
    border: 2px solid rgba(0,255,0,1);
    border-radius: 2px;
}

li.found, li.opt {
    color: rgba(0,255,0,0.3);
}

li.opt {
    color: rgba(0,255,0,1);    
    height: 60px;    
}

li.opt > div {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 10px;
    vertical-align: middle;
    text-align: center;
}

li.opt > div > img {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    max-height: 50px;
    max-width: 50px;
    transform: translate(-50%,-50%)
}

li.opt > checkbox {
    vertical-align: middle;
}

li.opt > label {
    vertical-align: middle;
}

li.dug {
    color: rgba(0,255,0,0.5);
    font-variant: unset;
    list-style: '-';
}

li.downloading {
    color: rgba(0,255,0,1);
    font-variant: small-caps;
}

div.buttonColumn {
    /* display: inline-block; */
    display: none;
    margin: 10px;
}

div.buttonColumn > button {
    display: block;
}

div.doublewide {
    display: block;
    margin: 15px;
}

div.doublewide > button {
    display: inline-block;
    width: 100px;
}