body {
    color: rgba(0,255,0,1);
    background-color: rgba(0,0,0,1);
    font-family: monospace;
    font-size: 12px;
    min-height: 300px;
    max-height: 1024px;
    height: 800px;
    min-width: 600px;
    max-width: 1024px;
    width: 700px;
}

h1 {
    font-size: 16px;
}

p {
    text-indent: 5px;
}

input,checkbox,textarea,button {
    background-color: rgba(0,0,0,1);
    color: rgba(0,255,0,1);
    border: 2px solid rgba(0,255,0,1);
    border-radius: 2px;
}

li.found {
    color: rgba(0,255,0,0.3);
}

li.downloading {
    font-variant: small-caps;
}

li.opt, li.downloading {
    color: rgba(0,255,0,1);    
    height: 60px;    
}

li.opt > div, li.downloading > div {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 10px;
    vertical-align: middle;
    text-align: center;
}

li.opt img, li.downloading img {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    max-height: 50px;
    max-width: 50px;
    transform: translate(-50%,-50%)
}

li.opt > checkbox, li.downloading > checkbox {
    vertical-align: middle;
}

li.opt > label, li.downloading > label {
    vertical-align: middle;
}

li.dug {
    color: rgba(0,255,0,0.5);
    font-variant: unset;
    list-style: '-';
}

li.failed {
    color: rgba(180,180,180,0.7);
    font-variant: unset;
}

/* the half-baked features are in the buttonColumn-classed divs */
div.buttonColumn {
    /* display: inline-block; */
    display: none;
    margin: 10px;
}

div.buttonColumn > button {
    display: block;
}

div.doublewide {
    display: block;
    margin: 15px;
}

div.doublewide > button {
    display: inline-block;
    width: 100px;
    margin: 3px;
}

#toggleVoyeurButton {
    display: none;
}

#outputHolder {
    margin-bottom: 7px;
}

div#stopButtonHolder {
    display: none;
    margin: 5px 5px 5px 300px;
}

div#actionHolder > div {
    margin: 5px;
}

div#backToTop {
    position:fixed;
    bottom: 5px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

div#exporter {
    display: block;
    overflow: auto;
    min-width: 30em;
    min-height: 5em;
    max-width: 90vw;
    max-height: 90vw;
}

pre#specjson {
    margin: 1em;
    padding: 0.5em;
    background-color: grey;
    color: black;
    font-size: 10px;
    font-family: monospace;
}

button#donejson {
    border: 1px double yellow;
    color: yellow;
    margin: 0.5em 1em 1em 1em;
}
